{% extends "base.html" %}

{% block tabs %}
<nav class="md-tabs" data-md-component="tabs">
  <div class="md-tabs__inner md-grid">
    <ul class="md-tabs__list">
      <li class="md-tabs__item">
        <a href="https://xmpro.gitbook.io/workflow/" class="md-tabs__link" target="_blank" rel="noopener">
          XMPro Workflow
        </a>
      </li>
      <li class="md-tabs__item">
        <a href="https://xmpro.na1.teamsupport.com/login/user" class="md-tabs__link" target="_blank" rel="noopener">
          Support
        </a>
      </li>
    </ul>
  </div>
</nav>
{% endblock %}
